{% extends 'base.html.twig' %}

{% block title %}Show Users
{% endblock %}

{% block body %}
	<h1>User List</h1>
	{% if users is not empty %}
		<table border="1">
			<tr>
				<th>ID</th>
				<th>firstname</th>
				<th>lastname</th>
				<th>Email</th>
			</tr>

			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.firstname }}</td>
					<td>{{ user.lastname }}</td>
					<td>{{ user.email }}</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>Keinen Benutzer gefunden.</p>
	{% endif %}
{% endblock %}
