{% extends 'base.html.twig' %}

{% block title %}Show Users
{% endblock %}

{% block body %}
	<h1>User List</h1>

	<table border="1">
		<tr>
			<th>ID</th>
			<th>firstname</th>
            <th>lastname</th>
			<th>Email</th>
			<!-- Füge hier weitere Spalten für zusätzliche Benutzerdaten hinzu -->
		</tr>

		{% for user in users %}
			<tr>
				<td>{{ user.id }}</td>
				<td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
				<td>{{ user.email }}</td>
				<!-- Füge hier weitere Zellen für zusätzliche Benutzerdaten hinzu -->
			</tr>
		{% endfor %}
	</table>
{% endblock %}
